*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    overflow-x: hidden;
/*    object-fit:cover;*/
}
html{
    scroll-behavior: smooth;
    background-size: cover;
     width: fit-content;
}

/**Nav Bar CSS**/
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
div.burger{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;   
    }
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
   
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
color: white;
font-size: 15px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
ul li a.active,ul li a:hover{
background: #1b6fff;
transition: .5s;
}
.checkbtn{
font-size: 25px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
margin-top: 20px;
cursor: pointer;
display: none;
}

#check{
    display: none;
}
.logo{
    animation: 1s logo infinite;
}
@keyframes logo{
    0%{
        color: #1b9bff;
    }
    20%{
        color:aqua
    }
    40%{
        color: burlywood;
    }
    60%{
        color: salmon;
    }
    80%{
        color: yellow;
    }
    100%{
        color: hotpink;
    }
}
@media (max-width: 952px){
label.logo{
    font-size:30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 15px;
    font-color:rgb(127, 53, 196);
}
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position:absolute;
        width: 100%;
        height: 40vh;
        background: #0082e6;
        opacity: 0.9;
        top: 80px;
        left: -100%;
        text-align: left;
      
    }
   
    nav ul li{
        display: block;
        margin: 15px 0;
        line-height: 15px;
    }
    nav ul li a{
        font-size: 15px;
    }
    a:hover, a.active{
        background: none;
        color: #00e63d;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #icon{
        font-size: 18px;
    }
}
/**End NavBar**/
/**Section_1**/
.container_1{
    background: url(image_2.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: center;
    background-image:url(image_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
}

    p{
        font-weight:bold;
        font-size: 20px;
    }
button{
    width: 90px;
    height: 40px;
    color: white;
    background-color: peru;
    outline-color: red;
    border-color: peru;
    margin-top: 20px;
    border-radius: 5px;

}
button:hover{
    color: black;
    background-color: yellow;
    transition: 1s;
}
        .code h2 span{
    color: chartreuse;
}
.code h2{
    font-family: sans-serif;
    font-size: 1.5rem;
    text-shadow: 0 2px 5px rgb(0,0,0.5);
}
/**End Section_1**/
/*Start Section_2*/
.image{
    margin-top: 20px;
}

.container_2{
    background-color: rgb(205 205 205);
    width: 100%;
}
.container_2 .row{
    margin-top: 50px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
}
.image-section{
    width: 100%;
}
.image-section img{
     width: 350px;
    height: 400px;
    margin-left:150px ;
}
.content{
    width: 100%;
}
.content h2{
    font-family:Lucida Bright;
    font-size: 30px;
    color: #3b667d;
}
.content h3{
    font-size: 15px;
    margin: 10px 0px;
    color: #7a7a7a;;
}
.content p{
    text-align: justify;
    font-size: 25px;
    margin-bottom: 10px;
}
.content a{
    text-decoration: none;
    background-color: #1d3440;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding:10px 20px;
    border-radius: 20px;
}
.content a:hover{
    background-color: #3b667d;
    transition: 0.5s ease;
}

@media screen and (max-width:768px) {
    .container_2{
        width: 100%;
        margin-top: -20px;
       }
    .container_2 .row{
        margin-top:100px;
        flex-direction: column;
        padding: 0px 20px;
    }
    .content{
        width: 100%;
        margin: 25px 0px;
    }
    .image-section img{
         margin-left: -50px;  
        height: auto;
         width: auto;
    }
    .content h2{
        font-size: 30px;
    }
    .content h3{
        font-size: 19px;
    }
    .content a{
        font-size:18px;
    }

}

    @media only screen and (min-width:200px) and (max-width:767px){
        .container_2{
            width: 100%;
            flex-direction: column;
        }
}
/*End Section_2*/
/*Section_3*/
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(205 205 205);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px;
}
.content-section{
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-section .card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.content-section .card img{
    width: 100%;
    height: auto;
}
.content-section .card h2{
margin: 15px 0px;
font-size: 28px;
color: #1662a1;
font-family: sans-serif;
}
.content-section .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
@media screen and (max-width:768px)
{
    .content-section{
        flex-direction: column;
         padding:0px;
    }
}
/*End Section_3*/
/*Section_4*/
    .training-section{
        background-color: rgb(205 205 205);
        margin-bottom: 0px;
        margin-top: -20px;
        width: 100%;
        height: 600px auto;
       
    }
    .training-items img{
        margin: -20px;
        width: 100%;
        height: 250px;
    }
    .training-items h3{
        margin-top: 20px;
    }
    .training-section h1{
        text-align: center;
        padding: 25px 0px;
    }
    .container_3{
        padding:50px;
        width: auto;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
       
    }
    .training-items{
    flex-direction: column;
    display: flex;
    align-items: center;
}
    .training-items{
        margin: 10px 0px;
        flex-basis: 30%;
        background: white;
        text-align: center;
        padding: 20px 0px;
        box-shadow: 0px 0px 10px 3px gray;
    }
    .training-items h3{
        padding: 10px 0px;
    }
    .training-items p{
        font-size: 13px;
        padding: 10px;
          text-align: justify;
    }
    .training-items button{
        background: blue;
        color: white;
        border: none;
        border-radius: 10px;
        margin-top: auto;
    }
    .training-items:hover{
        background: blue;
    }
    .training-items:hover h3, .training-items:hover p{
        color:white;
    }
    .training-items:hover button{
        background: white;
        color: blue;
    }
    @media only screen and (min-width:200px) and (max-width:767px){
        .container_3{
            padding: 10px;
            width: 100%;
            flex-direction: column;
        }
        .training-items{
            margin: 10px;
        }
    }
/*End Section_4*/
/*Section_5*/
#explore_1{
    background-color:green;
    width: 120px;
    height: 2px;
    display: block;
    margin-top: 5px;
}
.container_4{
    background-color: rgb(205 205 205);

}
.container_4 .row_1{
    width: 100%;
    min-height: 500px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
}
.container_4 .row_1 p{
    font-size: 22px;
    font-family:Lucida Bright;
}
.image-section{
    width: 100%;
}
.image-section p{
    text-align: justify;
}
.content_1{
    width: 100%;
}
iframe{
    padding: 10px;
    margin-left: 100px;
}
.prg{
    color:brown;
    text-align: left;
/*    text-shadow: 5px 10px 20px;*/
    margin-bottom: 30px;
}
@media screen and (max-width:768px) {
    .container_4{
        width: 100%;
        margin-top: -20px;
       }
    .container_4 .row_1{
        margin-top:100px;
        flex-direction: column;
        padding: 0px 20px;
    }
    .content_1{
        background-size: auto;
        width: 100%;
        margin: 25px 0px;
    }
    iframe{
        width: 100%;
        height: 350px;
        margin: 0px;
        padding: 0px;
     
    }
    .container_4 .row_1{
         margin-top: 0px;
}
.image-section{
    margin-top: 30px;
}
.container_4 .row_1 p{
    font-size: 18px;
    font-family:Lucida Bright;
}
}

    @media only screen and (min-width:200px) and (max-width:767px){
        .container_4{
            width: 100%;
            flex-direction: column;
        }
}
/*End Section_5*/
/*Footer_section */
footer{
    background: #333;
    height: 100%;
    width: 100%;
}
.send{
    width: 165px;
    height: 25px;
    background-color: red;
    border-color: red;
    color: white;
}
#explore{
    background-color:red;
    width: 80px;
    height: 2px;
    display: block;
    margin-top: 5px;
}
    .footer-copyright{
        background-color: rgb(72, 66, 66);
    }
    
        .footer_info{
            width: 90%;
            margin: 0 auto;
            display: flex;
            padding: 50px 0;
        }
        .footer_info .footer_width{
            padding: 0 15px;
        }
        .footer_info h2{
            margin-bottom: 20px;
        }
        .about, .contact{
            width: 40%;
        }
        .link{
            width: 20%;
        }
    
        .link ul li{
            margin-bottom: 15px;
            font-size: 20px;
        }
        .link ul li a:hover{
            color: #000;
        }
        .contact ul li{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        .contact ul li span{
            margin-right: 15px;
        }
       @media screen and (max-width:992px){
            .about , .contact{
                width: 35%;
            }
        }
            .link{
                width: 30%;
            }
        @media(max-width:768px){
            .about, .contact, .link{
                width: 100%;
                margin-bottom: 30px;
            }
            .footer_info{
                flex-direction: column;
            }
            footer{
            background: #333;
            height: 670px;
        }
        .letter{
            color: white;
            text-align: justify;
        }
        .view_letter{
            font-size: 15px;
        }
        }

      .text{
        color: #0082e6;
      }
      .footer_form{
        color: white;
      }
      i{
        width:30px;
        height: 25px;
        padding: 10px;
      }
      i:hover{
        color: red;
        transition: 0.5s;
      }
      .letter{
        color: white;
        text-align: justify;
    }
        .code h2 span{
    color: chartreuse;
}
.code h2{
    font-family: sans-serif;
    font-size: 1.5rem;
    text-shadow: 0 2px 5px rgb(0,0,0.5);
}
/*End footer_section*/
